.site-footer {
    color: #a9a9a9;
}

.baselinks {
    background-color: #545454;
}

.baselinks .wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 150px;
}

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.site-inner, .wrap, .wrapslider {
    margin: 0 auto;
    max-width: 1280px;
}

.credits {
    background-color: #767676;
}

.flexitem {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    position: relative;
    min-width: 0;
}

.baselinks .socialicons {
    font-size: 200%;
}
.flexhalf.flexend {
    margin-left: 2%;
}
.site-footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
ol, ul {
    box-sizing: border-box;
}

.baselinks .menu li:not(:last-of-type) {
    margin-right: 40px;
}

nav .menu li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.site-footer li {
    display: inline-block;
}

.baselinks .menu a {
    color: #a9a9a9;
}

.site-footer li a {
    color: #a9a9a9;
}
nav .menu a {
    display: block;
    color: #FFF;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #356DA5;
}
a {
    background-color: transparent;
}

.baselinks .socialicons li:not(:last-of-type) {
    margin-right: 10px;
}

.site-footer li {
    display: inline-block;
}

.fab, .far {
    font-weight: 400;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}