.ubermenu-main, .ubermenu-main .ubermenu-target, .ubermenu-main .ubermenu-nav .ubermenu-item-level-0 .ubermenu-target {
    font: arial;
}

.ubermenu-main, .ubermenu-main .ubermenu-target, .ubermenu-main .ubermenu-nav .ubermenu-item-level-0 .ubermenu-target, .ubermenu-main div, .ubermenu-main p, .ubermenu-main input {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.ubermenu-main {
    max-width: 1330px;
    background-color: #5484b3;
    background: -webkit-gradient(linear,left top,left bottom,from(#5484b3),to(#5484b3));
    background: -webkit-linear-gradient(top,#5484b3,#5484b3);
    background: -moz-linear-gradient(top,#5484b3,#5484b3);
    background: -ms-linear-gradient(top,#5484b3,#5484b3);
    background: -o-linear-gradient(top,#5484b3,#5484b3);
    background: linear-gradient(top,#5484b3,#5484b3);
    border: 1px solid #5483b3;
}
.ubermenu {
    background: 0 0;
}
.ubermenu-bar-align-full {
    clear: both;
}
.ubermenu, .ubermenu-nav {
    overflow: visible!important;
    z-index: 100;
}
.ubermenu {
    display: block;
    background: #fff;
    line-height: 1.3em;
    text-align: left;
}
.ubermenu, .ubermenu .ubermenu-column, .ubermenu .ubermenu-divider, .ubermenu .ubermenu-item, .ubermenu .ubermenu-nav, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-row, .ubermenu .ubermenu-search, .ubermenu .ubermenu-search-input, .ubermenu .ubermenu-search-submit, .ubermenu .ubermenu-submenu, .ubermenu .ubermenu-submenu-footer, .ubermenu .ubermenu-tabs, .ubermenu .ubermenu-tabs-panels, .ubermenu .ubermenu-target, .ubermenu-responsive-toggle {
    height: auto;
    width: auto;
    max-height: none;
    min-height: 0;
}
.ubermenu, .ubermenu .ubermenu-column, .ubermenu .ubermenu-divider, .ubermenu .ubermenu-icon, .ubermenu .ubermenu-image, .ubermenu .ubermenu-item, .ubermenu .ubermenu-nav, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-row, .ubermenu .ubermenu-search, .ubermenu .ubermenu-search-input, .ubermenu .ubermenu-search-submit, .ubermenu .ubermenu-submenu, .ubermenu .ubermenu-submenu-footer, .ubermenu .ubermenu-tabs, .ubermenu .ubermenu-tabs-panels, .ubermenu .ubermenu-target, .ubermenu-responsive-toggle {
    margin: 0;
    padding: 0;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    text-indent: 0;
    clip: auto;
    position: static;
    background: 0 0;
    text-transform: none;
    overflow: visible;
    z-index: 10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1.3em;
    border: none;
    border-radius: 0;
    pointer-events: auto;
}

.ubermenu-bound-inner .ubermenu-nav {
    position: relative;
}
.ubermenu, .ubermenu .ubermenu-column, .ubermenu .ubermenu-divider, .ubermenu .ubermenu-item, .ubermenu .ubermenu-nav, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-row, .ubermenu .ubermenu-search, .ubermenu .ubermenu-search-input, .ubermenu .ubermenu-search-submit, .ubermenu .ubermenu-submenu, .ubermenu .ubermenu-submenu-footer, .ubermenu .ubermenu-tabs, .ubermenu .ubermenu-tabs-panels, .ubermenu .ubermenu-target, .ubermenu-responsive-toggle {
    height: auto;
    width: auto;
    max-height: none;
    min-height: 0;
}

.ubermenu, .ubermenu .ubermenu-column, .ubermenu .ubermenu-divider, .ubermenu .ubermenu-icon, .ubermenu .ubermenu-image, .ubermenu .ubermenu-item, .ubermenu .ubermenu-nav, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-row, .ubermenu .ubermenu-search, .ubermenu .ubermenu-search-input, .ubermenu .ubermenu-search-submit, .ubermenu .ubermenu-submenu, .ubermenu .ubermenu-submenu-footer, .ubermenu .ubermenu-tabs, .ubermenu .ubermenu-tabs-panels, .ubermenu .ubermenu-target, .ubermenu-responsive-toggle {
    margin: 0;
    padding: 0;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    text-indent: 0;
    clip: auto;
    position: static;
    background: 0 0;
    text-transform: none;
    overflow: visible;
    z-index: 10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1.3em;
    border: none;
    border-radius: 0;
    pointer-events: auto;
}
.ubermenu-nav, .ubermenu-row, .ubermenu-submenu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.ubermenu-nav {
    text-align: inherit;
}

.ubermenu-items-align-left.ubermenu-horizontal .ubermenu-item.ubermenu-item-level-0 {
    float: left;
}

.ubermenu .ubermenu-item.ubermenu-item-level-0 {
    float: none;
}
.ubermenu .ubermenu-column, .ubermenu .ubermenu-row {
    max-width: 100%;
}
.ubermenu .ubermenu-item-level-0 {
    vertical-align: bottom;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}
.ubermenu .ubermenu-item {
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.ubermenu, .ubermenu .ubermenu-column, .ubermenu .ubermenu-divider, .ubermenu .ubermenu-item, .ubermenu .ubermenu-nav, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-row, .ubermenu .ubermenu-search, .ubermenu .ubermenu-search-input, .ubermenu .ubermenu-search-submit, .ubermenu .ubermenu-submenu, .ubermenu .ubermenu-submenu-footer, .ubermenu .ubermenu-tabs, .ubermenu .ubermenu-tabs-panels, .ubermenu .ubermenu-target, .ubermenu-responsive-toggle {
    height: auto;
    width: auto;
    max-height: none;
    min-height: 0;
}
.ubermenu, .ubermenu .ubermenu-column, .ubermenu .ubermenu-divider, .ubermenu .ubermenu-icon, .ubermenu .ubermenu-image, .ubermenu .ubermenu-item, .ubermenu .ubermenu-nav, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-row, .ubermenu .ubermenu-search, .ubermenu .ubermenu-search-input, .ubermenu .ubermenu-search-submit, .ubermenu .ubermenu-submenu, .ubermenu .ubermenu-submenu-footer, .ubermenu .ubermenu-tabs, .ubermenu .ubermenu-tabs-panels, .ubermenu .ubermenu-target, .ubermenu-responsive-toggle {
    margin: 0;
    padding: 0;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    text-indent: 0;
    clip: auto;
    position: static;
    background: 0 0;
    text-transform: none;
    overflow: visible;
    z-index: 10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1.3em;
    border: none;
    border-radius: 0;
    pointer-events: auto;
}

body:not(.rtl) .ubermenu.ubermenu-horizontal .ubermenu-item-level-0:first-child>.ubermenu-target {
    border-left: none;
}

.ubermenu-main .ubermenu-nav .ubermenu-item.ubermenu-item-level-0 > .ubermenu-target {
    font-weight: normal;
}
.ubermenu-main, .ubermenu-main .ubermenu-target, .ubermenu-main .ubermenu-nav .ubermenu-item-level-0 .ubermenu-target {
    font: arial;
}
.ubermenu-main, .ubermenu-main .ubermenu-target, .ubermenu-main .ubermenu-nav .ubermenu-item-level-0 .ubermenu-target, .ubermenu-main div, .ubermenu-main p, .ubermenu-main input {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target {
    font-size: 16px;
    color: #ffffff;
    border-left: 1px solid #5484b3;
    padding-left: 30px;
    padding-right: 30px;
}
.ubermenu a.ubermenu-target, .ubermenu-trigger-click .ubermenu-has-submenu-drop>.ubermenu-target {
    cursor: pointer;
}
.ubermenu .ubermenu-target {
    font-size: 15px;
}
.ubermenu .ubermenu-target {
    display: block;
    text-decoration: none;
    position: relative;
}
.ubermenu .ubermenu-colgroup .ubermenu-column, .ubermenu .ubermenu-custom-content-padded, .ubermenu .ubermenu-nonlink, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-submenu-padded, .ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target, .ubermenu .ubermenu-target, .ubermenu .ubermenu-widget, .ubermenu-responsive-toggle {
    padding: 15px 20px;
}
.ubermenu, .ubermenu .ubermenu-column, .ubermenu .ubermenu-divider, .ubermenu .ubermenu-item, .ubermenu .ubermenu-nav, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-row, .ubermenu .ubermenu-search, .ubermenu .ubermenu-search-input, .ubermenu .ubermenu-search-submit, .ubermenu .ubermenu-submenu, .ubermenu .ubermenu-submenu-footer, .ubermenu .ubermenu-tabs, .ubermenu .ubermenu-tabs-panels, .ubermenu .ubermenu-target, .ubermenu-responsive-toggle {
    height: auto;
    width: auto;
    max-height: none;
    min-height: 0;
}
.ubermenu, .ubermenu .ubermenu-column, .ubermenu .ubermenu-divider, .ubermenu .ubermenu-icon, .ubermenu .ubermenu-image, .ubermenu .ubermenu-item, .ubermenu .ubermenu-nav, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-row, .ubermenu .ubermenu-search, .ubermenu .ubermenu-search-input, .ubermenu .ubermenu-search-submit, .ubermenu .ubermenu-submenu, .ubermenu .ubermenu-submenu-footer, .ubermenu .ubermenu-tabs, .ubermenu .ubermenu-tabs-panels, .ubermenu .ubermenu-target, .ubermenu-responsive-toggle {
    margin: 0;
    padding: 0;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    text-indent: 0;
    clip: auto;
    position: static;
    background: 0 0;
    text-transform: none;
    overflow: visible;
    z-index: 10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1.3em;
    border: none;
    border-radius: 0;
    pointer-events: auto;
}

.ubermenu .ubermenu-target-text {
    display: inline-block;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

.ubermenu-items-align-left.ubermenu-horizontal .ubermenu-item.ubermenu-item-level-0 {
    float: left;
}

.ubermenu .ubermenu-item.ubermenu-item-level-0 {
    float: none;
}
.ubermenu .ubermenu-column, .ubermenu .ubermenu-row {
    max-width: 100%;
}
.ubermenu .ubermenu-item-level-0 {
    vertical-align: bottom;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}
.ubermenu .ubermenu-item {
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.ubermenu, .ubermenu .ubermenu-column, .ubermenu .ubermenu-divider, .ubermenu .ubermenu-item, .ubermenu .ubermenu-nav, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-row, .ubermenu .ubermenu-search, .ubermenu .ubermenu-search-input, .ubermenu .ubermenu-search-submit, .ubermenu .ubermenu-submenu, .ubermenu .ubermenu-submenu-footer, .ubermenu .ubermenu-tabs, .ubermenu .ubermenu-tabs-panels, .ubermenu .ubermenu-target, .ubermenu-responsive-toggle {
    height: auto;
    width: auto;
    max-height: none;
    min-height: 0;
}
.ubermenu, .ubermenu .ubermenu-column, .ubermenu .ubermenu-divider, .ubermenu .ubermenu-icon, .ubermenu .ubermenu-image, .ubermenu .ubermenu-item, .ubermenu .ubermenu-nav, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-row, .ubermenu .ubermenu-search, .ubermenu .ubermenu-search-input, .ubermenu .ubermenu-search-submit, .ubermenu .ubermenu-submenu, .ubermenu .ubermenu-submenu-footer, .ubermenu .ubermenu-tabs, .ubermenu .ubermenu-tabs-panels, .ubermenu .ubermenu-target, .ubermenu-responsive-toggle {
    margin: 0;
    padding: 0;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    text-indent: 0;
    clip: auto;
    position: static;
    background: 0 0;
    text-transform: none;
    overflow: visible;
    z-index: 10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1.3em;
    border: none;
    border-radius: 0;
    pointer-events: auto;
}

.ubermenu .ubermenu-target-text {
    height: 52px;
    line-height: 52px;
}

.ubermenu.ubermenu-main .ubermenu-item-level-0:hover > .ubermenu-target, .ubermenu-main .ubermenu-item-level-0.ubermenu-active > .ubermenu-target {
    color: #5484b3;
    background-color: #ffffff;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ffffff));
    background: -webkit-linear-gradient(top,#ffffff,#ffffff);
    background: -moz-linear-gradient(top,#ffffff,#ffffff);
    background: -ms-linear-gradient(top,#ffffff,#ffffff);
    background: -o-linear-gradient(top,#ffffff,#ffffff);
    background: linear-gradient(top,#ffffff,#ffffff);
}