<footer class="site-footer" itemscope="" itemtype="https://schema.org/WPFooter">
  <div class="baselinks">
    <div class="wrap flexbox">
      <nav class="footermenu flexitem flexhalf">
        <ul id="menu-footer" class="menu">
          <li
            id="menu-item-15274"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15274"
          >
            <a href="https://coachesinsider.com/about-us/" itemprop="url"
              >About Us</a
            >
          </li>
          <li
            id="menu-item-15275"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15275"
          >
            <a href="https://coachesinsider.com/faq/" itemprop="url">FAQ</a>
          </li>
          <li
            id="menu-item-16879"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-16879"
          >
            <a
              rel="privacy-policy"
              href="https://coachesinsider.com/privacy-policy/"
              itemprop="url"
              >Privacy Policy</a
            >
          </li>
          <li
            id="menu-item-15276"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15276"
          >
            <a href="https://coachesinsider.com/contact-us/" itemprop="url"
              >Contact Us</a
            >
          </li>
        </ul>
      </nav>
      <ul class="socialicons flexitem flexbox flexhalf flexend">
        <li class="flexitem">
          <a href="https://www.facebook.com/CoachesInsider/" title="Facebook"
            ><i class="fab fa-facebook-square"></i
          ></a>
        </li>
        <li class="flexitem">
          <a href="https://twitter.com/coachesinsider" title="Twitter"
            ><i class="fab fa-twitter-square"></i
          ></a>
        </li>
        <li class="flexitem">
          <a href="https://www.instagram.com/coachesinsider/" title="Instagram"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li class="flexitem">
          <a href="https://coachesinsider.com/feed/" title="RSS"
            ><i class="fas fa-rss-square"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="credits">
    <div class="wrap">
      <ul class="accreditation">
        <li>
          <a
            href="https://coachesinsider.com/privacy-policy/"
            title="Privacy Policy"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a
            href="https://coachesinsider.com/terms-of-service/"
            title="Terms and Conditions"
            >Terms and Conditions</a
          >
        </li>
        <li>
          <p>
            © Copyright 2023 Clell Wade Coaches Directory, Inc., All Rights
            Reserved.
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script
  type="text/javascript"
  src="https://coachesinsider.com/wp-includes/js/jquery/jquery.min.js?ver=3.7.0.1699353183"
  id="jquery-core-js"
  defer
></script>
<!-- <script
  type="text/javascript"
  src="https://coachesinsider.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1.1699353183"
  id="jquery-migrate-js"
  defer
></script> -->
<script type="text/javascript" id="ubermenu-js-extra">
  /* <![CDATA[ */
  var ubermenu_data = {"remove_conflicts":"on","reposition_on_load":"off","intent_delay":"300","intent_interval":"100","intent_threshold":"7","scrollto_offset":"50","scrollto_duration":"1000","responsive_breakpoint":"959","accessible":"on","retractor_display_strategy":"responsive","touch_off_close":"on","submenu_indicator_close_mobile":"on","collapse_after_scroll":"on","v":"3.7.2","configurations":["main"],"ajax_url":"https:\/\/coachesinsider.com\/wp-admin\/admin-ajax.php","plugin_url":"https:\/\/coachesinsider.com\/wp-content\/plugins\/ubermenu\/","disable_mobile":"off","prefix_boost":"","use_core_svgs":"off","aria_role_navigation":"off","aria_nav_label":"off","aria_expanded":"off","aria_hidden":"off","aria_controls":"","aria_responsive_toggle":"off","icon_tag":"i","esc_close_mobile":"on","theme_locations":{"primary":"Global Menu","secondary":"Primary Menu","tertiary":"Tertiary Menu","footer-menu":"Footer Menu","shiftnav":"ShiftNav [Main]"}};
  /* ]]> */
  </script>
<script
  type="text/javascript"
  src="https://coachesinsider.com/wp-content/plugins/ubermenu/assets/js/ubermenu.min.js?ver=3.7.2.1699352836"
  id="ubermenu-js"
  defer
></script>
<script
  type="text/javascript"
  src="https://coachesinsider.com/wp-content/themes/coachesdirectory/assets/js/coachbase.min.js?ver=1.1.3.1699353183"
  id="cdir-basejs-js"
  defer
></script>
<script defer src="js/main.min.js"></script>
