<footer class="site-footer" itemscope="" itemtype="https://schema.org/WPFooter">
  <div class="baselinks">
    <div class="wrap flexbox">
      <nav class="footermenu flexitem flexhalf">
        <ul id="menu-footer" class="menu">
          <li
            id="menu-item-15274"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15274"
          >
            <a href="https://coachesinsider.com/about-us/" itemprop="url"
              >About Us</a
            >
          </li>
          <li
            id="menu-item-15275"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15275"
          >
            <a href="https://coachesinsider.com/faq/" itemprop="url">FAQ</a>
          </li>
          <li
            id="menu-item-16879"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-16879"
          >
            <a
              rel="privacy-policy"
              href="https://coachesinsider.com/privacy-policy/"
              itemprop="url"
              >Privacy Policy</a
            >
          </li>
          <li
            id="menu-item-15276"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15276"
          >
            <a href="https://coachesinsider.com/contact-us/" itemprop="url"
              >Contact Us</a
            >
          </li>
        </ul>
      </nav>
      <ul class="socialicons flexitem flexbox flexhalf flexend">
        <li class="flexitem">
          <a href="https://www.facebook.com/CoachesInsider/" title="Facebook"
            ><i class="fab fa-facebook-square"></i
          ></a>
        </li>
        <li class="flexitem">
          <a href="https://twitter.com/coachesinsider" title="Twitter"
            ><i class="fab fa-twitter-square"></i
          ></a>
        </li>
        <li class="flexitem">
          <a href="https://www.instagram.com/coachesinsider/" title="Instagram"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li class="flexitem">
          <a href="https://coachesinsider.com/feed/" title="RSS"
            ><i class="fas fa-rss-square"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="credits">
    <div class="wrap">
      <ul class="accreditation">
        <li>
          <a
            href="https://coachesinsider.com/privacy-policy/"
            title="Privacy Policy"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a
            href="https://coachesinsider.com/terms-of-service/"
            title="Terms and Conditions"
            >Terms and Conditions</a
          >
        </li>
        <li>
          <p>
            © Copyright 2023 Clell Wade Coaches Directory, Inc., All Rights
            Reserved.
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
